################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug/ecds.tlog
/Debug
/x64/Debug
/packages
/lib
