################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug/ecds.tlog
/Debug
/x64/Debug
/packages/pthreads.2.9.1.4
/packages/pthreads.redist.2.9.1.4
